.RecommendedVideos{
    flex: 0.8;
    background-color: #F9F9F9;
    padding: 10px;
    padding-bottom: 0;
}
.RecommendedVideos h2{
    margin:20px 5px;
}
.recommendedVideos__video{
    display: flex;
    flex-wrap:wrap;
}